.confirmation {
	gap: 24px;
	width: 409px;
	padding: 24px;
	display: flex;
	flex-direction: column;
}

.add-order {
	display: flex;
	align-items: center;
	justify-content: center;

	width: 48px;
	height: 48px;
}
