.pay {
	height: 48px;
	font-size: 14px;
	margin-top: 19px;
	font-weight: 600;
	line-height: 140%;
	border-radius: 8px;
	background: var(--bs-primary);
	box-shadow: -8px 8px 24px rgba(234, 124, 105, 0.5);
}
