<div class="d-flex flex-column gap-4 h-100">
	<h2>Orders #34562</h2>

	<div class="d-flex gap-2 p-0 m-0">
		<ng-container *ngFor="let btn of optionsBtns">
			<button class="btn btn-outline-primary">{{ btn.name }}</button>
		</ng-container>
	</div>

	<div class="flex-grow-1">
		<app-order-list [orders]="(orders$ | async) || []"></app-order-list>
	</div>

	<button class="pay" (click)="togglePayment()">Continue To Payment</button>
</div>

<ng-container *ngIf="isPaymentOpened">
	<app-payment-menu (close)="togglePayment()"></app-payment-menu>
</ng-container>
